%html
  %head
    %title WebGL Practice

    %link{ :href => "css/styles.css", :rel => "stylesheet" }

  %body
    %script{ :src => "js/three.min.js" }
    %script{ :src => "js/CanvasRenderer-min.js"}
    %script{ :src => "js/script-min.js" }
